<%= stylesheet_link_tag :dashboard%> 
<%= javascript_include_tag params[:controller] %>

<div class="board">
  <div class="bubble" style="width: 640px; float: left;">
    <h1>Calendar</h1>

    <h4>Today is <%= Time.now.strftime("%A, %B %d %Y") %></h4>

    <div class="calendar">
      <table cellpadding="0" cellspacing="1">
        <tbody>
        <% 7.times do |row|%>
          <% if row == 0 %>
            <tr class="header">
          <% else %>
            <tr>
          <% end %>  
      	  
          <% 7.times do |col|%>
            <% if row == 0 %>
              <td class="header">
                <div><%= Date::DAYNAMES[col] %></div>
      		    </td>
            <% else %>
              <td>
      		        <% if (col == @startDate.wday || row-1 > 0 || (col > @startDate.wday && row-1 == 0)) && ( (7-@startDate.wday) + (row-2)*7 + col < @startDate.end_of_month.day)%>
      		      
                    <% if @currDate == Time.now.day %>
                      <div class="wday clickable today"
                    <% elsif @currDate <= Time.now.day %>
                      <div class="wday clickable" 
                    <% else %>
                      <div class="wday" 
                    <% end %>

                    id="<%= Time.now.strftime("%Y-%-m-") %><%= @currDate  %>">

                    <% if @currDate <= Time.now.day %>
                      <%= link_to @currDate, show_date_dashboard_index_path(:year => Time.now.year, :month => Time.now.month, :day => @currDate) %>
                    <% else %>
                      <%= @currDate  %>
                    <% end %>
                    
                    <br />

                    <% if CalendarEntry.has_entry_for_date(Time.now.year, Time.now.month, @currDate) > 3 %>
                      
                      <%= image_tag("icons/apple.png", :class => "indent-small") %>
                    <% elsif CalendarEntry.has_entry_for_date(Time.now.year, Time.now.month, @currDate) > 0 %>

                      <%= image_tag("icons/Carrot.gif", :class => "indent-small") %>
                    <% end %>

                  </div>

        		        <% @currDate += 1 %>
                  <% else %>
                    <div class=""></div>
                  <% end %>  
      		    </td>
            <% end %>
          <% end %>
          
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="todo bubble">
    <h1>Tasks</h1>
    <b>Completed</b>

    <div class="indent-small">
      <% @tasks_done.each do |task| %>
        <table>
          <tr>
            <td>
              <% if task.icon != nil %>
                <%= image_tag task.icon %>
              <% end %>
            </td>
            <td style="width:150px;"><%= content_tag(:p, task.description, :style => "display: inline;") %></td>
            <td><%= link_to (image_tag "icons/x.png"), task, confirm: 'Are you sure?', method: :delete %>
            </td>
          </tr>
        </table>
      <% end %>
      <% if !@tasks_done.any? %>
        <%= "Nothing done yet..." %>
      <% end %>
    </div>

    <br />

    <b>Pending</b>
    <div class="indent-small">
      <% @tasks_pending.each do |task| %>
        <table>
          <tr>
            <td>
              <% if task.icon != nil %>
                <%= image_tag task.icon %>
              <% end %>
            </td>
            <td style="width: 127px;"><%= content_tag(:p, task.description, :style => "display: inline;") %></td>
            <td>
              <%= form_for(task, :url => complete_task_path(task)) do |f| %>
                <button type="submit" style="display: inline;">
                  <%= image_tag "icons/check.png", :class => "clickable" %>
                </button>
              <% end %>
            </td>
            <td>
                <%= link_to (image_tag "icons/x.png"), task, confirm: 'Are you sure?', method: :delete %>
            </td>
          </tr>
        </table>
      <% end %>
    </div>    

    <%= link_to 'New Task', new_task_path, :id => "new", :class => "button" %>
  </div>
</div>

<div class="bubble">
  <h2>Newest Food Entries</h2>
  <table class="records">
    <tr>
      <th class="header">Date</th>
      <th class="header">Time slot</th>
      <th class="header" style="width:600px;">Content</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>


    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.date.to_date() %></td>
        <td><%= entry.food_time.name %></td>
        <td><%= entry.content %></td>
        <td><%= link_to 'Show', entry, :class => "button" %></td>
        <td><%= link_to 'Edit', edit_calendar_entry_path(entry), :class => "button" %></td>
        <td><%= link_to 'Destroy', entry, confirm: 'Are you sure?', method: :delete, :class => "button" %></td>
      </tr>
    <% end %>

  </table>
  <br />
  <%= link_to 'New Entry', new_calendar_entry_path, :class => "button" %>
</div>

<div id="backgroundPopup"></div>
<div id="popupContact">
  <div class="bubble" style="padding: 5px; height: 430px; width: 720px; overflow:hidden; position: relative; z-index: 100;">
    <h1 id="popupTitle">
      <!-- title here -->
    </h1>

    <h3>Food Entries</h3>
    <table id="food-date" class="records">
      
    </table>
    <br />
    <%= link_to 'New Entry', new_calendar_entry_path, :class => "button" %>
  </div>
</div>
