
var tok = ID.split("-");
date = new Date(tok[0], tok[1] - 1, tok[2]);

launchPopup();
$("#popupTitle").text(date.toLocaleDateString());

$('#food-date').append('<tbody><tr>');

<% ["Date", "Time slot", "Content"].each do |header|%>
  $('#food-date').append( '<th class="header>' + <%= header %> + '</th>' );
<% end %>

<% 3 times.do %>
  $('#food-date').append( '<tr><th>class="header"' + 'Date' + '</th></tr>' );
<% end %>

$('#food-date').append('</tr>');

<% @date_entries.each do |entry| %>
  $('#food-date').append('<tr>');
  $('#food-date').append( '<td>' + <%= entry.date.to_date() %> + '</td>' );
  $('#food-date').append( '<td>' + <%= entry.food_time.name %> + '</td>' );
  $('#food-date').append( '<td>' + <%= entry.content %> + '</td>' );
  $('#food-date').append( '<td>' + <%= link_to 'Show', entry, :class => "button" %> + '</td>' );
  $('#food-date').append( '<td>' + <%= link_to 'Edit', edit_calendar_entry_path(entry), :class => "button" %> + '</td>' );
  $('#food-date').append( '<td>' + <%= link_to 'Destroy', entry, confirm: 'Are you sure?', method: :delete, :class => "button" %> + '</td>' );
  $('#food-date').append('</tr>');
<% end %>

$('#food-date').append('</tbody>');
