
<div class="bubble" style="display:inline-block; width:300px; white-space: normal;">
	<div> 
		<h2>Sign up</h2>

		<div class="indent" style="padding-bottom: 20px;">
			<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
			  <%= devise_error_messages! %>

			  <div><%= f.label :email %><br />
			  <%= f.email_field :email, :autofocus => true %></div>

			  <div><%= f.label :password %><br />
			  <%= f.password_field :password %></div>

			  <div><%= f.label :password_confirmation %><br />
			  <%= f.password_field :password_confirmation %></div>

			  <div><%= f.submit "Sign up", :class => 'button' %></div>
			<% end %>
		</div>
	</div>
	
	
</div>