<h1>Calendar</h1>

<h2>Today is <%= Time.now.strftime("%A, %B %d %Y") %></h2>

<div class="calendar">
<table cellpadding="0" cellspacing="1">
  <tbody>
  <% 7.times do |row|%>
    <% if row == 0 %>
      <tr class="header">
	<% else %>
	  <tr>
    <% end %>  
	  
    <% 7.times do |col|%>
      <% if row == 0 %>
	    <td class="header">
		  <div><%= Date::DAYNAMES[col] %></div>
		</td>
	  <% else %>
	    <td>
		  <div id="<%= row-1 %>-<%= col %>" class="
		    <% if (col == @startDate.wday || row-1 > 0 || (col > @startDate.wday && row-1 == 0)) &&
			      ( (7-@startDate.wday) + (row-2)*7 + col < @startDate.end_of_month.day)%>
			  <%= "wday clickable" %>
			  ">
			  <%= @currDate.mday %>
			  <% @currDate = CalendarController.increment(@currDate) %>
			<% else %>
			">
			<% end %>  
		  </div>
		</td>
      <% end %>
    <% end %>
    
	</tr>
  <% end %>
  </tbody>
</table>
</div>

<h2>Newest Calendar Entries</h2>
<table>
  <tr>
    <th>Date</th>
    <th>Slot</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @entries.each do |entry| %>
  <tr>
    <td><%= entry.date %></td>
    <td><%= entry.slot %></td>
    <td><%= entry.content %></td>
    <td><%= link_to 'Show', entry %></td>
    <td><%= link_to 'Edit', edit_calendar_entry_path(entry) %></td>
    <td><%= link_to 'Destroy', entry, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<h2>Newest Posts</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.name %></td>
    <td><%= post.title %></td>
    <td><%= post.content %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
  
</table>

<br />

<%= link_to 'New Post', new_post_path %>
<%= link_to 'New Entry', new_calendar_entry_path %>
