<%=stylesheet_link_tag :calendar%> 

<h1>Calendar</h1>

<h2>Today is <%= Time.now.strftime("%A, %B %d %Y") %></h2>

<div class="board">
  <div class="calendar">
    <table cellpadding="0" cellspacing="1">
      <tbody>
      <% 7.times do |row|%>
        <% if row == 0 %>
          <tr class="header">
        <% else %>
          <tr>
        <% end %>  
    	  
        <% 7.times do |col|%>
          <% if row == 0 %>
            <td class="header">
              <div><%= Date::DAYNAMES[col] %></div>
    		    </td>
          <% else %>
            <td>
              <div id="<%= row-1 %>-<%= col %>" class="
    		        <% if (col == @startDate.wday || row-1 > 0 || (col > @startDate.wday && row-1 == 0)) && ( (7-@startDate.wday) + (row-2)*7 + col < @startDate.end_of_month.day)%>
    		      
                  <%= "wday clickable" %>

                  <% if (@currDate == Time.now.day) %>
                    <%= " today" %>
                  <% end %>

                  ">
      		        <%= @currDate %>
      		        <% @currDate += 1 %>
                <% else %>
                  ">
                <% end %>  
    		      </div>
    		    </td>
          <% end %>
        <% end %>
        
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <div class="todo">
    <% @tasks.each do |task| %>
      <tr>
        <td><%= image_tag task.icon %></td>
        <td><%= content_tag(:p, task.description) %></td>
        <td><%= image_tag "/images/icons/check.gif" %></td>
        <td><%= image_tag "/images/icons/x.png" %></td>
      </tr>
  </div>
</div>

<h2>Newest Calendar Entries</h2>
<table class="records">
  <tr>
    <th class="header">Date</th>
    <th class="header">Time slot</th>
    <th class="header">Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @entries.each do |entry| %>
  <tr>
    <td><%= entry.date.to_date() %></td>
    <td><%= entry.food_time.name %></td>
    <td><%= entry.content %></td>
    <td><%= link_to 'Show', entry %></td>
    <td><%= link_to 'Edit', edit_calendar_entry_path(entry) %></td>
    <td><%= link_to 'Destroy', entry, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<h2>Newest Posts</h2>
<table class="records">
  <tr>
    <th class="header">Name</th>
    <th class="header">Title</th>
    <th class="header">Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.name %></td>
    <td><%= post.title %></td>
    <td><%= post.content %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
  
</table>

<br />

<%= link_to 'New Post', new_post_path %>
<%= link_to 'New Entry', new_calendar_entry_path %>
