<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @calendar_entry.date %>
</p>

<p>
  <b>Title:</b>
  <%= @calendar_entry.slot %>
</p>

<p>
  <b>Content:</b>
  <%= @calendar_entry.content %>
</p>


<%= link_to 'Edit', edit_calendar_index_path(@calendar_entry) %> |
<%= link_to 'Back', calendar_index_path %>
