<p id="notice"><%= notice %></p>

<div class="bubble">
  <h1>User Details</h1>
  <b>Email:</b>
  <%= @user.email %>
  <br />
  <b>Member Since:</b>
  <%= @user.created_at %>  
</div>

<div class="bubble">
	<h2>Tanukis</h2>

	  <div style="padding-left: 50px;">
    <% @tanukis.each do |tanuki| %>
      <div style="width: 250px; height: 60px; display: inline-block;">
        <%= image_tag "icons/Tanuki.gif", :class => "gen-tanuki", :style => "-webkit-filter: hue-rotate(" + tanuki.get_hue + "deg) sepia(" + tanuki.get_sepia + "%) brightness(" + tanuki.get_brightness + "%); float: left;" %>

        <div style="padding-left: 60px;">
          <%= tanuki.get_name %>
          <% if tanuki.is_male %>
            <%= image_tag "boy.png"%>
          <% else %>
            <%= image_tag "girl.png"%>
          <% end %>
          <div style="font-size: 8px; display: inline;">(<%= tanuki.get_name_meaning %>)</div><br />
          <div style="font-size: 10px; margin-bottom: 10px;"><%= tanuki.get_nature %></div>
        </div>
      </div> 
    <% end %>
  </div>
</div>

<div class="bubble">
  <h2>Food Entries</h2>

  <% if @user.calendar_entries.any? %>
	  <table class="records">
	    <tr style="text-align: left;">
	      <th class="header" style="width:140px;">Date</th>
	      <th class="header" style="width:205px;">Time slot</th>
	      <th class="header" style="width:250px;">Content</th>
	      <th class="header" style="width:100px;">Calories</th>
	      <th></th>
	      <th></th>
	      <th></th>
	    </tr>

	    <% @calendar_entries.each do |entry| %>
	      <tr>
	        <td><%= entry.date.to_date() %></td>
	        <td><%= entry.get_slot_name() %></td>
	        <td><%= entry.content %></td>
	        <td><%= entry.calories %></td>
	        <td><%= link_to 'Show', entry, :class => "button" %></td>
	        <td><%= link_to 'Edit', edit_calendar_entry_path(entry), :class => "button" %></td>
	        <td><%= link_to 'Destroy', entry, confirm: 'Are you sure?', method: :delete, :class => "button" %></td>
	      </tr>
	    <% end %>
  	</table>
  <% else %>
		<div class="indent-small">No entries to display.</div>
	<% end %>

	<br />
  <%= link_to 'Back', dashboard_index_path, :class => "button" %>
</div>

