<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @entry.date %>
</p>

<p>
  <b>Slot:</b>
  <%= @entry.slot %>
</p>

<p>
  <b>Content:</b>
  <%= @entry.content %>
</p>



<%# link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', calendar_index_path %>
