<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @entry.date %>
</p>

<p>
  <b>Time slot:</b>
  <%= @entry.food_time.name %>
</p>

<p>
  <b>Content:</b>
  <%= @entry.content %>
</p>

<p>
  <b>Updated at:</b>
  <%= @entry.updated_at %>
</p>


<%# link_to 'Edit', edit_post_path(@post) %>
<%= link_to 'Back', calendar_index_path %>
