<div class="bubble">
  <h2>Tanuki Habitats</h2>
  <div class="indent-small">
    <% if @tanukis.any? %>
      <table style="padding-left: 60px;">
        <% @tanukis.each_with_index do |t, index| %>
          <tr>
            <td>
              <% case index %>
              <% when 0 %>
                <%= image_tag "forest.png" %>
              <% when 1 %>
                <%= image_tag "plains.png" %>
              <% when 2 %>
                <%= image_tag "beach.png" %>
              <% end %>

              <% @tanukis.each_with_index do |tanuki, i| %>
                <%= image_tag "icons/Tanuki.gif", :id => "gen-tanuki", :class => "tan" + (i % 3).to_s, :style => "-webkit-filter: hue-rotate(" + tanuki.get_hue + "deg) sepia(" + tanuki.get_sepia + "%) brightness(" + tanuki.get_brightness + "%); float: left;" %>
              <% end %>
            </td>
            <td style="width: 300px;">

              <% @tanukis.each_with_index do |tanuki, i| %> 
                <div class="stats">
                  <%= tanuki.get_name %>
                  <% if tanuki.is_male %>
                    <%= image_tag "boy.png"%>
                  <% else %>
                    <%= image_tag "girl.png"%>
                  <% end %>  

                  <span style="font-size: 8px; display: inline;">(<%= tanuki.get_name_meaning %>)</span><br />
                  <span style="font-size: 10px; margin-bottom: 10px;"><%= tanuki.get_nature %></span>
                  <div class="button" style="float: right;"><%= link_to 'Release', tanuki, confirm: 'Are you sure?', method: :delete %></div>
                </div>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    <% end %>

    Your tanuki count is currently <%= current_user.tanukis.count.to_s + "/" + current_user.tanuki_limit.to_s %>
    <br />

    <% if current_user.tanukis.count < current_user.tanuki_limit %>
      You have a vacant habitat! See below to adopt a tanuki.
    <% else %>
      You are at maximum tanuki capacity!  Release a tanuki to adopt a new one.
    <% end %>
  </div>
</div>

<div class="bubble">
  <h2>Adopt-a-Tanuki</h2>
  <div class="indent-small">
    <table>
      <tr>
        <% @gentanukis.each_with_index do |tanuki, index| %>
          <td style="width: 300px;">
            <%= image_tag "icons/Tanuki.gif", :class => "gen-tanuki", :style => "-webkit-filter: hue-rotate(" + tanuki.get_hue + "deg) sepia(" + tanuki.get_sepia + "%) brightness(" + tanuki.get_brightness + "%); float: left;" %>

            <div style="padding-left: 60px;">
              <%= tanuki.get_name %>
              <% if tanuki.is_male %>
                <%= image_tag "boy.png"%>
              <% else %>
                <%= image_tag "girl.png"%>
              <% end %>
              <div style="font-size: 8px; display: inline;">(<%= tanuki.get_name_meaning %>)</div><br />
              <div style="font-size: 10px; margin-bottom: 10px;"><%= tanuki.get_nature %></div>
            </div>

            <% if current_user.tanukis.count < current_user.tanuki_limit %>
              <%= form_for(tanuki) do |f| %>
                <%= f.hidden_field :name %>
                <%= f.hidden_field :male %>
                <%= f.hidden_field :nature %>
                <%= f.hidden_field :hue %>
                <%= f.hidden_field :sepia %>
                <%= f.hidden_field :brightness %>
                <%= f.submit "Adopt this tanuki", :class => 'button', :style => 'margin-left: 20px;' %>
              <% end %>
            <% end %>
            <br />
          </td>
        <% end %>
      </tr>
    </table>
  </div>
</div>