<div class="bubble">
  <h1>Tanukis Currently Housing</h1>
  <div class="indent-small">
    <div style="padding-left: 60px;">
      <% if @tanukis.any? %>
        <% @tanukis.each do |tanuki| %>
          <div>
            <%= image_tag "icons/Tanuki.gif", :id => "gen-tanuki", :style => "float: left;" %>
            <table>
              <tr>
                <td><%= entry.date.to_date() %></td>
                <td><%= entry.food_time.name %></td>
                <td><%= entry.content %></td>
                <td><%= link_to 'Show', entry, :class => "button" %></td>
                <td><%= link_to 'Edit', edit_calendar_entry_path(entry), :class => "button" %></td>
                <td><%= link_to 'Destroy', entry, confirm: 'Are you sure?', method: :delete, :class => "button" %></td>
              </tr>
            </table>
          </div>
        <% end %>
      <% else %>
        <%= "You haven't adoped a tanuki!  See below to adopt one." %>
      <% end %>
    </div>
  </div>
</div>

<div class="bubble">
  <h1>Adopt-a-Tanuki</h1>
  <div class="indent-small">

    <%= image_tag "icons/Tanuki.gif", :id => "gen-tanuki", :style => "float: left;" %>

    <div style="padding-left: 60px;">
      &nbsp;&nbsp;&nbsp;&nbsp;Tanukis are hungry creatures!  Feed him by making calendar entires recording the food you ate.  For each day you make at least one entry, Tanuki gets a carrot! He loves carrots.  He wants!  Let him have... <br /><br />
      &nbsp;&nbsp;&nbsp;&nbsp;If you make four entries in a day, Tanuki is rewarded with an apple! He absolutely loves apples!  So, all the more reason to keep your entries up to date!  Don't let him go hungry.  That's tanuki abuse!
      <br /><br />
    </div>
  </div>
</div>