<!DOCTYPE html>
<html>
<head>
	<title>Tanuki</title>
	<%= javascript_include_tag "application" %>
	<%= stylesheet_link_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>
		
			<% if signed_in? %>
				<div id="user_nav">
					Signed in as <%= current_user.email %> &nbsp;&nbsp;&nbsp;&nbsp;  Not you? 
					<%= link_to "Logout", destroy_user_session_path, :class => "button" %>

					<div style="display: inline; float: right">
						<%= link_to "Dashboard", calendar_index_path, :class => "button" %>
						<%= link_to "Account Settings", edit_user_registration_path, :class => "button" %>
					</div>
				</div>
			<% end %>
				
			<div id="container">
				<% if !signed_in? && (request.path != new_user_session_path || request.path != new_user_registration_path) %>
				
					<%= render "layouts/user_form" %>
				<% else %>
					<%= yield %>
				<% end %>
			</div>
		</div>
	</div>
</body>
</html>
