<!DOCTYPE html>
<html>
<head>
	<title>Tanuki</title>
	<%= javascript_include_tag "application" %>
	<%= stylesheet_link_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>
		
			<% if signed_in? %>
				<div id="user_nav">
					Signed in as <%= current_user.email %>.  Not you? 
					<%= link_to "Logout", destroy_user_session_path, :class => "button" %>
				</div>

				<div id="container">
					<%= yield %>
				</div>
				
			<% elsif request.path == new_user_session_path || request.path == new_user_registration_path%>

				<div id="container">
					<%= yield %>
				</div>

			<% else %>
				<div id="user_nav">
					<%= link_to "Sign in", new_user_session_path, :class => "button" %> or <%= link_to "Sign up", new_user_registration_path, :class => "button" %>
				</div>
			<% end %>
		</div>
	</div>
</body>
</html>
